# {{ ansible_managed }}
BOOTPROTO=none
DEVICE={{ vm_nic.stdout }}
HWADDR={{ mac_info.stdout }}
ONBOOT=yes
TYPE=Ethernet
USERCTL=no
IPADDR={{ vm_ipaddress }}
GATEWAY={{ vm_gateway.stdout }}
PREFIX={{ vm_netmask_prefix.stdout }}
