#cloud-config
cloud_config_modules:
  - resolv_conf
  - cc_rh_subscription

# Hostname management
preserve_hostname: False
hostname: {{ vm_local_hostname }}
fqdn: {{ vm_hostname }}

{% if rhsm_username is defined or rhsm_org is defined %}
# RHEl Subscription
{% if rhsm_username != "" and rhsm_password != "" %}
rh_subscription:
  username: {{ rhsm_username }}
  password: {{ rhsm_password }}
  auto-attach: True
  service-level: self-support
{% elif rhsm_org != "" and rhsm_activationkey != "" %}
rh_subscription:
  activation-key: {{ rhsm_activationkey }}
  org: {{ rhsm_org }}
  auto-attach: True
{% else %}
# Skipping rhel subscription
# rhsm_user and rhsm_password or rhsm_org and rhsm_activationkey not defined
{% endif %}
{% else %}
# Skipping rhel subscription
{% endif %}


# Default Packages
packages:
  - wget
  - net-tools
  - bind-utils
  - yum-utils
  - iptables-services
  - bridge-utils
  - bash-completion
  - kexec-tools
  - sos
  - psacct
  - pyOpenSSL
  - qemu-guest-agent

# Users
users:
  - default
  - name: {{ admin_user }}
    ssh_pwauth: True
    ssh_authorized_keys:
    - {{ vm_public_key }}
    groups: wheel,adm,systemd-journal
    sudo: ['ALL=(ALL) NOPASSWD:ALL']

manage_resolv_conf: {{ manage_dns }}

resolv_conf:
  nameservers: {{ dns_servers }}
  searchdomains: {{ search_domains }}
  domain:  {{ vm_domain }}
  options:
    rotate: true
    timeout: 1

# Change password (Reference Only)
ssh_pwauth: True
chpasswd:
  list: |
    {{ admin_user }}:{{ admin_user_password }}
    root:{{ kvm_vm_root_pwd }}
  expire: False

# start qemu-guest-agent
runcmd:
  - [systemctl, start, qemu-guest-agent]

# enable qemu-guest-agent
runcmd:
  - [systemctl, enable, qemu-guest-agent]

# Remove cloud-init when finished with it
runcmd:
  - [ yum, -y, remove, cloud-init ]

# Configure where output will go
output:
  all: ">> /var/log/cloud-init.log"

# configure interaction with ssh server
ssh_svcname: ssh
ssh_deletekeys: True
ssh_genkeytypes: ['rsa', 'ecdsa']

# Install my public ssh key to the first user-defined user configured
# in cloud.cfg in the template (which is ctos for CentOS cloud images)
ssh_authorized_keys:
  - {{ vm_public_key }}

